/* .todo__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 5px;
}

.todo__item {
  padding: 5px;
  border: 4px solid;
  cursor: pointer;
}

.todo__item:hover {
  border-color: royalblue;
}

.todo__item.is-complited {
  background-color: darkseagreen;
} */
/*
section {
  transition-duration: 0.5s;
}

section:nth-child(2) {
  transition-delay: 0.2s;
}
section:nth-child(3) {
  transition-delay: 0.4s;
}
section:nth-child(4) {
  transition-delay: 0.6s;
}

// для секций у которых нет класса is-visble выставляется опасити 0 
section:not(.is-visible) {
  opacity: 0;
}
section:not(.is-visible):nth-child(odd) {
  translate: 50vw;
}
/* сдвиг для нечетных секций 
section:not(.is-visible):nth-child(even) {
  translate: -50vw;
}

.preloader {
  position: fixed;
  z-index: calc(infinity);
  inset: 0;
  background-color: rebeccapurple;
  animation-name: fade-out;
  animation-duration: 3s;
  animation-iteration-count: 1;
  opacity: 0;
  pointer-events: none;
}

.preloader__in {
  position: absolute;
  inset: 0;
  background-color: coral;
  animation-name: circle;
  animation-duration: 3s;
  animation-iteration-count: 1;
  clip-path: circle(75%);
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes circle {
  0% {
    clip-path: circle(75%);
  }
  50% {
    clip-path: circle(25%);
  }
  100% {
    clip-path: circle(75%);
  }
} */

/* .button {
  position: absolute;
  top: -5px;
  left: -5px;
} */

/* .box {
  width: 200px;
  height: 200px;
  background-color: aqua;
} */

/* body {
  font-family: "Rubik", sans-serif;
  background-color: #bdc1c7;
  font-size: 24px;
}
.circle {
  position: absolute;
  width: 50px;
  aspect-ratio: 1;
  background-color: dodgerblue;
  border-radius: 50%;
  translate: -50% -50%;
  user-select: none;
}
.circle.red {
  background-color: red;
}
.circle__label {
  position: absolute;
  bottom: -5%;
  left: 105%;
  pointer-events: none;
  user-select: none;
} */

/* body {
}
img {
}
.chicken,
.fish,
.shrimp {
} */

.chicken {
  position: relative;
  bottom: 5px;
}

.fish {
  position: absolute;
  bottom: 350px;
}

.shrimp {
  left: 50px;
}

.cat {
  position: absolute;
  left: 400px;
  /* bottom: -50px; */
}

.draggable {
  position: absolute;
  z-index: 1;
  cursor: grab;
  transition-property: scale;
  transition-duration: 0.2s;
  touch-action: none;
}

.draggable.is-dragging {
  cursor: grabbing;
  opacity: 0.5;
  scale: 1.15;
}
